<div class="login-form-container">
    <form id="login-form" class="login-form" [formGroup]="forgotPasswordForm" autocomplete="off" (keydown)="keyDownFunction($event)" novalidate>
        <div class="login-line">
            <mat-form-field>
                <input matInput placeholder="{{ 'LOGIN.FORM.PASSWORD' | translate }}" formControlName="password" type="password" (keydown)="keyDownFunction($event)" />
            </mat-form-field>
        </div>
        <div class="login-line">
            <mat-form-field>
                <input matInput placeholder="{{ 'LOGIN.FORM.CONFIRM_PASSWORD' | translate }}" formControlName="confirmPassword" type="password" (keydown)="keyDownFunction($event)" />
            </mat-form-field>
        </div>
        <div class="login-line login-error" *ngIf="showError">{{ 'LOGIN.FORM.WRONGPASSWORD' | translate }}</div>
        <div class="login-line button-line" *ngIf="!showSpinner">
            <wtw-button class="button-ok" (click)="confirmPassword(forgotPasswordForm.value)">{{ 'FORM.OK' | translate }}</wtw-button>
        </div>
        <div class="login-line button-line" *ngIf="showSpinner"><spinner></spinner></div>
    </form>
</div>
