<div class="login-form-container">
    <form id="login-form" class="login-form" [formGroup]="forgotPasswordForm" autocomplete="off" (keydown)="keyDownFunction($event)" validateConfirmPassword novalidate>
        <div class="login-line">
            <em *ngIf="isPasswordStrongEnough()">{{ 'SIGNUP.FORM.PASSWORD_NOT_STRONG' | translate }}</em>
            <mat-form-field>
                <input matInput placeholder="{{ 'LOGIN.FORM.NEWPASSWORD' | translate }}" formControlName="password" type="password" (keydown)="keyDownFunction($event)" validatePassword />
            </mat-form-field>
        </div>
        <div class="login-line">
            <em *ngIf="isConfirmPasswordInvalid()">{{ 'SIGNUP.FORM.CONFIRM_PASSWORD_INVALID' | translate }}</em>
            <mat-form-field>
                <input matInput placeholder="{{ 'SIGNUP.FORM.CONFIRM_PASSWORD' | translate }}" formControlName="confirmPassword" type="password" (keydown)="keyDownFunction($event)" />
            </mat-form-field>
        </div>
        <div class="login-line login-error" *ngIf="showError">{{ 'FORGOT_PWD.WRONGTOKEN' | translate }}</div>
        <div class="login-line button-line" *ngIf="!showSpinner">
            <wtw-button class="button-ok" (click)="confirmPassword(forgotPasswordForm.value)">{{ 'FORM.OK' | translate }}</wtw-button>
        </div>
        <div class="login-line button-line" *ngIf="showSpinner"><spinner></spinner></div>
    </form>
</div>
