<top-menu [showButtons]="true" [showLogin]="false"></top-menu>
<div class="content-container">
    <left-menu [rootPath]="'user/movies/'" [leftMenus]="leftMenus"></left-menu>
    <div class="inner-content-container">
        <div class="start-questionnaire-container" (click)="startNewQuestionnaire()" *ngIf="!startNewClicked">
            <wtw-button>
                <i class="fa fa-plus"></i>
                <span>{{ 'QUESTIONNAIRE.START_NEW' | translate }}</span>
            </wtw-button>

        </div>
        <div *ngIf="startNewClicked">
            <questionnaire [isFirstQuestionnaire]="false"></questionnaire>
        </div>
    </div>
</div>
