<top-menu [showButtons]="true" [showLogin]="false" [selected]="'movies'" [username]="username"></top-menu>
<div class="content-container">
    <left-menu [rootPath]="'user/movies/'" [leftMenus]="leftMenus"></left-menu>
    <div class="inner-content-container">
        <div class="start-questionnaire-container" *ngIf="!startNewClicked && !loadingState && !selectedMovie">
            <wtw-button (click)="startNewQuestionnaire()">
                <i class="fa fa-plus"></i>
                <span>{{ 'QUESTIONNAIRE.START_NEW' | translate }}</span>
            </wtw-button>
            <h2>{{'QUESTIONNAIRE.HISTORY' | translate }}</h2>
            <div class="categories-placeholder" *ngIf="categoriesNotLoaded">
                <spinner></spinner>
            </div>
            <div *ngFor="let category of categories" class="category-container">
                <div class="questionnaire-separator"></div>
                <div class="category-title">
                    <span *ngIf="category.type == 'text'">{{ category.name | translate }}</span>
                    <span *ngIf="category.type == 'star'"><star-rating-comp [rating]="category.name" [readOnly]="true" [step]="1" [starType]="'icon'" [numOfStars]="5" [size]="'medium'"></star-rating-comp></span>
                </div>
                <div class="category-movie-wall" *ngIf="category.values && category.values.length > 0">
                    <movie-wall [movieIds]="category.values" [lang]="lang" [config]="configuration" (notify)="onClickMovie($event)"></movie-wall>
                </div>
            </div>
        </div>
        <div *ngIf="startNewClicked && !loadingState && !selectedMovie">
            <questionnaire [isFirstQuestionnaire]="false"></questionnaire>
        </div>
        <div class="spinner-container" *ngIf="loadingState">
            <spinner></spinner>
        </div>
    </div>
</div>
<footer></footer>
