<top-menu [showButtons]="true" [showLogin]="false" [selected]="'home'" [username]="username"></top-menu>
<div *ngIf="notEnoughProfiles" class="not-enough-profiles-container">
    <span>{{ 'USER_HOME.NOT_ENOUGH_PROFILES' | translate }}</span>
    <a [routerLink]="['/user/movies/questionnaires']">{{ 'USER_HOME.GO_TO_QUESTIONNAIRES' | translate }}</a>
</div>
<div *ngIf="timelineEvents">
    <timeline [timelineEvents]="timelineEvents" [friends]="allFriends" [currentUserId]="currentUserId" [lang]="lang" [config]="config"></timeline>
</div>
<div class="spinner-container" *ngIf="!timelineEvents">
    <spinner></spinner>
</div>