<div class="questionnaire-container">
    <div class="question-block" [@areaState]="'active'" *ngIf="states[0]">
        <div>{{ 'FIRST_QUESTIONNAIRE.LANGUAGE_QUESTION' | translate }}</div>
        <div class="flags-container">
            <div class="flag-container" (click)="setTranslation('fr')"><span class="flag-icon flag-icon-fr" [ngClass]="{'flag-selected' : isTranslation('fr')}"></span></div>
            <div class="flag-container" (click)="setTranslation('en')"><span class="flag-icon flag-icon-gb"[ngClass]="{'flag-selected' : isTranslation('en')}"></span></div>
        </div>
        <div class="button-line" *ngIf="!showSpinner">
            <wtw-button class="button-center" (click)="langSkip()">{{ 'FORM.SKIP' | translate }}</wtw-button>
            <wtw-button class="button-right" (click)="langConfirm()">{{ 'FORM.NEXT' | translate }}</wtw-button>
        </div>
        <div class="login-line button-line" *ngIf="showSpinner"><spinner></spinner></div>
    </div>
    <div class="question-block" [@areaState]="'active'" *ngIf="states[1]">
        <div>{{ 'FIRST_QUESTIONNAIRE.AGE_QUESTION' | translate }}</div>
        <input class="input-invert-color" type="number" min="1" max="130" [(ngModel)]="age" />
        <div class="button-line" *ngIf="!showSpinner">
            <wtw-button class="button-left" (click)="agePrevious()">{{ 'FORM.PREVIOUS' | translate }}</wtw-button>
            <wtw-button class="button-center" (click)="ageSkip()">{{ 'FORM.SKIP' | translate }}</wtw-button>
            <wtw-button class="button-right" (click)="ageConfirm()">{{ 'FORM.NEXT' | translate }}</wtw-button>
        </div>
        <div class="login-line button-line" *ngIf="showSpinner"><spinner></spinner></div>
    </div>
    <div class="question-block width95" [@areaState]="'active'" *ngIf="movieIndex % 2 == 0 && states[2]">
        <movie-questionnaire [movie]="movie" [config]="configuration" (notify)="movieQuestionnaireChange($event)"></movie-questionnaire>
        <div class="button-line" *ngIf="!showSpinner">
            <wtw-button class="button-left" (click)="moviePrevious()">{{ 'FORM.PREVIOUS' | translate }}</wtw-button>
            <wtw-button class="button-center" (click)="movieSkip()">{{ 'FORM.SKIP' | translate }}</wtw-button>
            <wtw-button class="button-right" (click)="movieConfirm()">{{ 'FORM.NEXT' | translate }}</wtw-button>
        </div>
        <div class="login-line button-line" *ngIf="showSpinner"><spinner></spinner></div>
    </div>
    <div class="question-block width95" [@areaState]="'active'" *ngIf="movieIndex % 2 == 1 && states[2]">
        <movie-questionnaire [movie]="movie" [config]="configuration" (notify)="movieQuestionnaireChange($event)"></movie-questionnaire>
        <div class="button-line" *ngIf="!showSpinner">
            <wtw-button class="button-left" (click)="moviePrevious()">{{ 'FORM.PREVIOUS' | translate }}</wtw-button>
            <wtw-button class="button-center" (click)="movieSkip()">{{ 'FORM.SKIP' | translate }}</wtw-button>
            <wtw-button class="button-right" (click)="movieConfirm()">{{ 'FORM.NEXT' | translate }}</wtw-button>
        </div>
        <div class="login-line button-line" *ngIf="showSpinner"><spinner></spinner></div>
    </div>
</div>

