<top-menu [showButtons]="true" [showLogin]="false" [selected]="'social'" [username]="username"></top-menu>
<div *ngIf="!isLoading" style="padding-top: 10px;padding-left: 15px">
    <div class="profile-picture-container">
        <div class="profile-picture" *ngIf="photoData">
            <i class="fa fa-close" (click)="delete()"></i>
            <img [src]="photoData" style="height: 200px;" />
        </div>
        <div class="no-picture-container" *ngIf="!photoData"><i class="fa fa-user"></i></div>
        <input type="file" #fileInput placeholder="{{ 'FORM.UPLOAD_FILE' | translate }}" />
        <div style="text-align: center"><wtw-button (click)="upload()">{{ 'FORM.UPLOAD' | translate }}</wtw-button></div>
    </div>
    <div class="profile-name-container" *ngIf="!isLoading">
        <div class="login-form-container" style="width: 500px;margin: 0;">
            <h1 class="wtw-title-container">
                {{ username }}
            </h1>
            <div class="wtw-form-content">
                <div class="wtw-form-field-container">
                    <mat-form-field [style.fontSize.px]="14" [style.width.px]="400">
                        <input matInput [(ngModel)]="profileForm.firstName" type="text" placeholder="{{ 'SIGNUP.FORM.FIRST_NAME' | translate }}" />
                    </mat-form-field>
                </div>
                <div class="wtw-form-field-container">
                    <mat-form-field [style.fontSize.px]="14" [style.width.px]="400">
                        <input matInput [(ngModel)]="profileForm.lastName" type="text" placeholder="{{ 'SIGNUP.FORM.LAST_NAME' | translate }}" />
                    </mat-form-field>
                </div>
                <div class="wtw-form-field-container">
                    <mat-form-field [style.fontSize.px]="14" [style.width.px]="150">
                        <input matInput class="input-invert-color" type="number" min="1900" max="2017" placeholder="{{ 'FORM.YEAR_OF_BIRTH' | translate }}" [(ngModel)]="profileForm.yearOfBirth" />
                    </mat-form-field>
                </div>
                <div class="wtw-form-field-container">
                    <mat-form-field [style.fontSize.px]="14" [style.width.px]="400">
                        <mat-select placeholder="{{ 'FIRST_QUESTIONNAIRE.COUNTRY' | translate }}" [(ngModel)]="profileForm.selectedCountry">
                            <mat-option *ngFor="let country of countriesList" [value]="country.code">{{ country.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <wtw-button (click)="save()">{{ 'FORM.SAVE' | translate }}</wtw-button>
            </div>
        </div>
    </div>
</div>
<div class="spinner-container" *ngIf="isLoading">
    <spinner></spinner>
</div>
<footer></footer>