<top-menu [showButtons]="true" [showLogin]="false" [selected]="'wtw'" [username]="username"></top-menu>
<div class="content-container">
    <left-menu [rootPath]="'user/what-to-watch/'" [leftMenus]="[]"></left-menu>
    <div class="inner-content-container">
        <div class="wtw-container" *ngIf="!movie && !isLoading">
            <div class="login-form-container" style="width: 500px;margin: 0;">
                <h1 class="wtw-title-container">
                    {{ 'WTW.WTW' | translate }}
                </h1>
                <div class="wtw-form-content">
                    <div class="wtw-form-field-container">
                        <mat-form-field style="width: 200px; font-size: 17px;">
                            <input matInput placeholder="{{ 'WTW.MIN_RELEASE' | translate }}" [(ngModel)]="formWTW.minRelease" type="number" min="1900" />
                        </mat-form-field>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-form-field style="width: 200px; font-size: 17px;">
                            <input matInput placeholder="{{ 'WTW.MAX_RELEASE' | translate }}" [(ngModel)]="formWTW.maxRelease" type="number" min="1900" [max]="maxReleaseYear" />
                        </mat-form-field>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-form-field [style.fontSize.px]="14" [style.width.px]="250">
                            <mat-select placeholder="Genre" [(ngModel)]="formWTW.genreSelectValue">
                                <mat-option *ngFor="let g of genres" [value]="g.id">
                                    {{ g.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-form-field [style.fontSize.px]="14" [style.width.px]="250">
                            <mat-select placeholder="{{ 'WTW.LANGUAGE' | translate }}" [(ngModel)]="formWTW.countrySelectValue">
                                <mat-option *ngFor="let c of languages" [value]="c.code">
                                    {{ c.code }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-checkbox [(ngModel)]="formWTW.isRuntimeChecked">{{ 'WTW.RUNTIME_LIMIT' | translate }}</mat-checkbox>
                    </div>
                    <div class="wtw-form-field-container" *ngIf="formWTW.isRuntimeChecked">
                        <mat-slider [thumbLabel]="true" min="90" max="150" step="1" value="90" [(ngModel)]="formWTW.runtimeLimit" [style.width.px]="250" [style.height.px]="40"></mat-slider>
                        <div class="wtw-form-runtime-restriction">{{ 'WTW.RUNTIME_LIMIT_EXPLANATION' | translate }}</div>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-checkbox [(ngModel)]="formWTW.isWatchlistChecked">{{ 'WTW.INCLUDE_WATCHLIST' | translate }}</mat-checkbox>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-checkbox [(ngModel)]="formWTW.isNowPlayingChecked">{{ 'WTW.ONLY_NOW_PLAYING' | translate }}</mat-checkbox>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-checkbox [(ngModel)]="formWTW.usePlex">{{ 'WTW.ONLY_PLEX_MOVIES' | translate }}</mat-checkbox>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-checkbox [(ngModel)]="formWTW.watchWithFriend">{{ 'WTW.WATCH_WITH_FRIEND' | translate }}</mat-checkbox>
                    </div>
                    <div class="wtw-form-field-container" *ngIf="formWTW.watchWithFriend">
                        <mat-form-field [style.fontSize.px]="14" [style.width.px]="250">
                            <mat-select placeholder="{{ 'WTW.FRIEND' | translate }}" [(ngModel)]="formWTW.withFriend">
                                <mat-option *ngFor="let f of friends" [value]="f.id">
                                    {{ f.username }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="noResults" class="wtw-error">{{ 'CAST.NO_RESULTS' | translate }}</div>
                    <div *ngIf="notValidReleaseDates" class="wtw-error">{{ 'WTW.NOT_VALID_RELEASE_DATES' | translate }}</div>
                    <wtw-button (click)="clickSearch()">{{ 'FORM.OK' | translate }}</wtw-button>
                </div>
            </div>
        </div>
        <div class="personal-recommandations-container" *ngIf="recommandationIds && !movie && !isLoading">
            <div class="personal-recommandations-title">
                {{ 'WTW.PERSONAL_RECO' | translate }}
            </div>
            <movie-wall [movieIds]="recommandationIds" [lang]="lang" [config]="configuration" [width]="150" (notify)="onClickMovie($event)"></movie-wall>
        </div>
        <div class="spinner-container" *ngIf="isLoading">
            <spinner></spinner>
        </div>
    </div>
</div>
