<top-menu [showButtons]="true" [showLogin]="false" [selected]="'wtw'"></top-menu>
<div class="content-container">
    <left-menu [rootPath]="'user/what-to-watch/'" [leftMenus]="[]"></left-menu>
    <div class="inner-content-container">
        <div class="wtw-container" *ngIf="!movie && !isLoading">
            <div class="form-container">
                <h1 class="wtw-title-container">
                    {{ 'WTW.WTW' | translate }}
                </h1>
                <div class="wtw-form-content">
                    <div class="wtw-form-field-container">
                        <mat-form-field [style.fontSize.px]="14" [style.width.px]="250">
                            <mat-select placeholder="Genre" [(ngModel)]="formWTW.genreSelectValue">
                                <mat-option *ngFor="let g of genres" [value]="g.id">
                                    {{ g.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-checkbox [(ngModel)]="formWTW.isRuntimeChecked">{{ 'WTW.RUNTIME_LIMIT' | translate }}</mat-checkbox>
                    </div>
                    <div class="wtw-form-field-container" *ngIf="formWTW.isRuntimeChecked">
                        <mat-slider [thumbLabel]="true" min="90" max="150" step="1" value="90" [(ngModel)]="formWTW.runtimeLimit" [style.width.px]="250" [style.height.px]="40"></mat-slider>
                        <div class="wtw-form-runtime-restriction">{{ 'WTW.RUNTIME_LIMIT_EXPLANATION' | translate }}</div>
                    </div>
                    <div class="wtw-form-field-container">
                        <mat-checkbox [(ngModel)]="formWTW.isWatchlistChecked">{{ 'WTW.INCLUDE_WATCHLIST' | translate }}</mat-checkbox>
                    </div>
                    <wtw-button (click)="clickSearch()">{{ 'FORM.OK' | translate }}</wtw-button>
                </div>
            </div>
        </div>
        <div class="personal-recommandations-container" *ngIf="recommandationIds && !movie && !isLoading">
            <div class="personal-recommandations-title">
                {{ 'WTW.PERSONAL_RECO' | translate }}
            </div>
            <movie-wall [movieIds]="recommandationIds" [lang]="lang" [config]="configuration" [width]="150" (notify)="onClickMovie($event)"></movie-wall>
        </div>
        
        <div class="movie-questionnaire-container" *ngIf="movie && movieQuestionnaireInitLoaded">
            <movie-recommandation [movie]="movie" [movieQuestionnaireInit]="movieQuestionnaireInit" [config]="configuration" (notify)="movieQuestionnaireChange($event)" (notifySave)="movieQuestionnaireSave($event)"></movie-recommandation>
            <div class="button-line" style="text-align: center;" *ngIf="!showSaveSpinner">
                <wtw-button class="button-center" (click)="back()">{{ 'FORM.BACK' | translate }}</wtw-button>
            </div>
            <div class="button-line" style="text-align: center;" *ngIf="showSaveSpinner">
                <spinner></spinner>
            </div>
        </div>

        <div class="spinner-container" *ngIf="isLoading">
            <spinner></spinner>
        </div>
    </div>
</div>
