<top-menu [showButtons]="true" [showLogin]="false" [selected]="'tvshows'" [username]="username"></top-menu>
<div class="content-container">
    <left-menu [rootPath]="'user/tvshows/'" [leftMenus]="leftMenus"></left-menu>
    <div class="inner-content-container">
        <div class="start-questionnaire-container" *ngIf="!loadingState && !selectedTVShow">
            <h2 *ngIf="!loadingState">{{'LEFT_MENU.WATCHLIST' | translate }}</h2>
            <div class="categories-placeholder" *ngIf="loadingState">
                <spinner></spinner>
            </div>
            <div class="category-movie-wall" *ngIf="movieIds && movieIds.length > 0">
                <tv-wall [movieIds]="movieIds" [lang]="lang" [config]="configuration" (notify)="onClickMovie($event)"></tv-wall>
            </div>
            <div class="category-movie-wall" *ngIf="movieIds && movieIds.length < 1">
                {{ 'CAST.NO_RESULTS' | translate }}
            </div>
        </div>
    </div>
</div>
<footer></footer>
