<div class="movie-header">
    <div class="row">
        <div class="col-left">
            <div class="movie-poster-container"><img width="200" src="{{ config.images.base_url }}{{ config.images.poster_sizes[3] }}{{ movie?.poster_path }}" /></div>
        </div>
        <div class="col-right">
            <div class="movie-content">
                <div class="movie-title">
                <span>{{ movie?.title }} ({{ movie?.release_date?.substring(0, 4) }})</span>
                <span class="movie-title-right">{{ genres }}</span>
                </div>
                <div class="movie-summary">{{ movie?.overview }}</div>
                <div class="movie-player">
                    <div *ngIf="isVideoPlayerDisplayed()">
                        <iframe [src]="trailerUrl" width="480" height="270" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <span>{{ 'MOVIE_QUESTIONNAIRE.NOT_SEEN' | translate }}</span>
                    <ui-switch switchColor="#2f3238" [checked]="movieSeen"></ui-switch>
                    <span>{{ 'MOVIE_QUESTIONNAIRE.SEEN' | translate }}</span>
                </div>
                <div>
                    <nouislider [min]="0" [max]="3" [step]="1" [(ngModel)]="seenValue" [config]="sliderConfiguration"></nouislider>
                </div>
            </div>
        </div>
    </div>
    <img class="backdrop-img" src="{{ config.images.base_url }}{{ config.images.backdrop_sizes[3] }}{{ movie?.backdrop_path }}" />
</div>
<div class="movie-answers">

</div>